<%- include('header') %>
<div class="result">
    <% if (error) { %>
        <%= error %>
    <% } else { %>
        <%= quantidade %> dólares
        na cotação <%= cotacao %> 
        é igual a <%= conversao %> reais
    <% } %>
</div>
<%- include('footer') %>