<!DOCTYPE html>
<html>
    <head>
        <title>Convert My Money</title>
        <meta charset="utf-8"/>
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <h1><a href="/"><img src="/images/logo.png" alt="Convert My Money"></a></h1>
        